.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: gray;
}

.align-left {
  text-align: left !important;
}

.reveal pre code {
  font-size: 0.8em !important;
  line-height: 1.2em;
  white-space: pre-wrap;
  word-wrap: break-word;
}